extends layout.pug

block content 
    title Page Not Found
    h1 Server Error
        p Sorry! There was an unexpected error on the server 
        p or we don't have that book in our database!
        br
        p 
            a.button(href='/') Back to book list.